body{ 
    background: linear-gradient(-90deg, rgb(1, 126, 78), rgb(3, 252, 57), rgb(1, 126, 78));
}

.container{
    margin-top: 9em;
}

.container2{
    margin-top: 2em;
}

h2{
 font-family: "Merriweather Sans", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 3em;
  letter-spacing: 0.1em;
  color: rgb(0, 94, 28);
}

h3{
    font-family: "Merriweather Sans", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 2.7em;
    letter-spacing: 0.05em; 
    color: rgb(0, 94, 28);
}

h4{
    font-family: "Merriweather Sans", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 2em;
    letter-spacing: 0.02em; 
    color: rgb(0, 94, 28);
}

.white{
    background-color: whitesmoke;
}

.icon1{
    padding-left: 2em;
}

.col{
    display: inline-block;
}

p{
    font-family: "Outfit", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 1.8em;
}
input, button{
    border: rgb(3, 134, 43) solid;
}

button{
    background-color: rgb(3, 134, 43);
}

button:hover{
    background-color:  rgb(1, 170, 52);
    border: rgb(1, 170, 52) solid;
}

.p1{
    font-size: 1.5em;
}

.colPresu{
    background-color: rgb(142, 253, 157);
}

.filatitulo{
    background-color: rgba(102, 201, 115, 0.911);
}

.fila_gasto{
    background-color: white;
    border: 2px solid rgb(2, 104, 24);
    margin-top: 30px;
}

.cantidad_gasto{
    background-color: rgb(100, 199, 100);
    font-weight: 600;
    padding-left: 10px;
    padding-right: 10px;
    margin: 100px;
}

.nombre_gasto{
   padding: 5px 15px 5px 5px;
}

.editar_gasto, .eliminar_gasto{
    padding: 5px 5px 5px 5px;
    cursor: pointer;
    border-left: solid 2px green;
}

.presupuestos_container{
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.gastos{
    margin: 15px auto;
}

.restante{
    background-color: rgb(60, 195, 87);
}

/* Estilo para el icono de edición */
.edit-icon {
    cursor: pointer;
    font-size: 20px;
    color: #007bff;
    transition: color 0.3s ease;
}

.edit-icon:hover {
    color: #0056b3;
}

/* Estilos para la ventana emergente (popup) */
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    width: 300px;
    text-align: center;
}

/* Estilo para el campo de texto dentro del popup */
.popup-input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 30px;
}

/* Estilo para los botones dentro del popup */
.popup-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 30px;
    margin-top: 10px;
    
}

.popup-button:hover {
    background-color: #028835;
    color: white;
}

.popup-button:active {
    background-color: #0056b3;
}

/* .m-container{
    display: flex;
    background-color: rgb(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    position: fixed;
    pointer-events: none;
    top: 0;
    left: 0;
    height: 40em;
    
    
    
}

.Modal{
    background-color: white;
    width: 600px;
    padding: 30px 50px;
} */